<h1>Angular Practice</h1>
<button type="button" class="btn btn-primary">Primary</button>
<p>jsfgvfhg</p>
<div appHighlight="lightblue">
  Click me to change my background color to lightblue.
</div>

<div appHighlight="yellow">
  Click me to change my background color to yellow (default).
</div>
<!-- ----------------------------------------------------------- -->

<h1>Parent Component</h1>

<input type="text" (input)="onInputChange($event)" placeholder="Enter some data" />
<app-child></app-child>